@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: black;
  background-image: url("../public/purple.png");
  background-size: cover;
}
.connectButton {
  width: 18rem; /* 72 */
  height: 4rem; /* 16 */
  background-color: #CC8677;
  border-radius: 1rem; /* 2xl */
  font-size: 1.5rem; /* 2xl */
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customConnectButton {
  width: 18rem; /* 72 */
  height: 4rem; /* 16 */
  background-color: #CC8677;
  border-radius: 1rem; /* 2xl */
  font-size: 1.5rem; /* 2xl */
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customNavConnectButton {
  color: black;
  width: 14rem; /* 40/4 = 10rem */
  height: 3rem; /* 12/4 = 3rem */
  border-radius: 1.5rem; /* 24px = 1.5rem */
  background-color: white;
  opacity: 0.8;
  font-size: 1.25rem; /* 20px = 1.25rem */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.customNavConnectButton:hover {
  opacity: 1;
}

.customNavConnectButton:active {
  transform: scale(0.95);
}